<footer class="footer">
    <div class="footerItemsLeft">
        <a href="#">Помощь</a>
        <a href="#">Обратная связь</a>
        <a href="#">Разработчикам</a>
        <a href="#">Условия использования</a>
    </div>
    <div class="footerItemsRight">
        <a href="#">2001-2017 ООО "Яндекс"</a>
    </div>
</footer>