<footer class="main__footer">
    <a href="#">Помощь</a>
    <a href="#">Обратная связь</a>
    <a href="#">Разработчикам</a>
    <a href="#">Условия использования</a>

    <a class="right" href="#">2001-2017 ООО "Яндекс"</a>
</footer>