<header class="main__navbar">
    <a href="/" class="main__navbar-brand"><img src="/images/Яндекс%20Дом.svg"></a>
    <div class="main__navbar-container">
        <div class="main__navbar-toggle"></div>
        <nav class="main__navbar-list">
            <li><a href="/list_vacancy" class="item -link">Vacancy</a></li>
            <li><a href="#" class="item -link">Text</a></li>
            <li><a href="#" class="item -link">Text</a></li>
            <li><a href="#" class="item -link">Text</a></li>
        </nav>
        <nav class="main__navbar-right">
            <% if(user) { %>
            <li><a href="/user_page" class="item -link"><%- user.nick %></a></li>
            <li><a href="#" class="item -link"
                   onclick="document.body.insertAdjacentHTML('beforebegin','<form method=POST id=logoutForm action=/logout>');document.getElementById('logoutForm').submit();return false">Выйти</a>
            </li>
            <% } else { %>
            <li><a href="/login" class="item -link">Войти</a></li>
            <li><a href="/register" class="item -link">Регистрация</a></li>
            <% } %>
        </nav>
    </div>
</header>