# Node build artifacts
node_modules
npm-debug.log


public/dist


# Local development
*.env
*.dev
.DS_Store
.idea

tests/test_typescript.js
tests/hermione-html-report
tests/ts


# Docker
Dockerfile
docker-compose.yml
