<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/dist/error.min.css'/>
</head>
<body>
<% layout('../views/layout/page.ejs') %>

<h1 align="center" class="errorHead">Ошибка :(</h1>
<h1 align="center" class="errorMessage"><%= message %> </h1>
</body>
</html>
