<% layout('../../../views/layout/page.ejs') %>

<button><a href="/create_vacancy">Create Vacancy</a></button>

<div id="containerVacancy"></div>
<script src="dist/userVacancys.min.js" async></script>

