<% layout('../../../views/layout/page.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<button><a href="/create_vacancy">Create Vacancy</a></button>
<button><a href="/create_resume">Create Resume</a></button>
<button><a href="/history_search">History</a></button>
<div id="containerVacancy"></div>
<script src="dist/userVacancys.min.js" async></script>
