.Nav-Left {
  float: left;
}

.Nav-Right {
  float: right;
  margin-right: 139px;
  line-height: 60px;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
}

body {
  background: black;
}

/*Логотип*/
.Nav {
  background: gray;
  height: 60px;
  line-height: 60px;
}

.Nav-LogoText {
  width: 22px;
  height: 39.5px;
  text-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.16);
  font-family: SegoeUI;
  font-size: 20.5px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.66;
  letter-spacing: normal;
  text-align: center;
  color: #daa520;
  padding-top: 7px;
  display: inline-block;
}

.Nav-LogoText .text-style-1 {
  font-size: 15px;
  font-style: "SegoeUIBlack-Italic";
  color: #ffffff;
}

.Nav-LogoIcon {
  width: 108px;
  height: 53px;
  text-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.16);
  font-family: SegoeUI;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: inline-block;
}

/*Ссылки*/
.Nav-Links {
  width: 197.5px;
  height: 20px;
  text-align: left;
  display: inline-block;
  padding-left: 17px;
  line-height: 1.33;
  transform: translateY(-50%);
  letter-spacing: normal;
}

.Nav-Links > a {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-family: SegoeUI;
  font-style: normal;
  font-stretch: normal;
  margin-right: 10px;
}

/*Настройки*/
.Nav-Settings {
  width: 19px;
  height: 15.5px;
  font-family: FontAwesome5FreeSolid;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.03;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  margin-right: 12px;
  transform: translateY(-10%);
}

/*Аватарка*/
.Nav-Avatar {
  width: 30px;
  height: 30px;
  border: solid 2.5px #ffffff;

  margin-right: 8px;
}

.Nav-Avatar > a {
  height: 100%;
  display: block;
}

/*Кнопка входа или выхода*/
.Nav-Exit {
  width: 53px;
  height: 20px;
  font-family: SegoeUI;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;

  margin-right: 43px;
}

.Nav-Exit > a {
  color: #daa520;
}

/*Треугольник с версией сайта*/
.Nav-Triangle {
  width: 0;
  height: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  border-left: 102.4px solid transparent;
  border-top: 173.4px solid #daa520;
}

.Nav-Triangle-whiteLine {
  width: 0;
  height: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  border-left: 104.9px solid transparent;
  border-top: 178.4px solid #ffffff;
}

.Nav-Triangle-text {
  width: 53px;
  height: 26.5px;
  font-family: SegoeUI;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: center;
  color: #2d2d2d;
  top: 13.2px;
  right: 11.9px;
  position: absolute;
}

.Nav-Triangle-version {
  width: 36px;
  height: 33.5px;
  font-family: SegoeUI;
  font-size: 25px;
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 39.5px;
  right: 12px;
}

.ContainerContent {
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.Filter {
  background: #5da2a6;
  grid-column: span 1;
  display: flex;
  flex-direction: column;
}

.Filter-Title {
  height: 40px;
  font-size: 25px;
  background: white;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-family: Arial;
}

.Filter-Scroll {
  overflow-y: scroll;
  height: 200px;
  padding-top: 15px;
  box-sizing: border-box;
  p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
}

.Filter-Second {
  height: 70px;
  > div {
    border-bottom: solid 2px white;
    border-top: solid 2px white;
    line-height: 70px;
    > button {
      height: 40px;
      font-size: 25px;
      background: white;
      text-align: center;
      color: #000;
      font-weight: bold;
      font-family: Arial;
    }
    > a {
      margin-left: 15px;
      color: white;
    }
  }
}

.Filter-ContainerButtons {
  > button {
    width: 100%;
    height: 70px;
    font-size: 20px;
    background: white;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-family: Arial;
  }
  >img{
    height: 40px;
    width: 40px;
    background: green;
  }
}

.ListResume {
  background: #51a662;
  grid-column: span 3;
  > .ListResume-Header{
    height: 80px;
    width: 100%;
  }
  > .ListResume-Content{
    width: 100%;
    height: 100%;
  }
}

