<% layout('../layout/page.ejs') %>

<style>
    form{
        display: flex;
        flex-direction: column;
    }
</style>

<form method="post">
    <label>Кол-во вакансий</label>
    <input name="ss_vacancy_count" value=<%- server_sett.vacancy.count%> type="number">
    <label>Жизнь вакансий</label>
    <input name="ss_vacancy_days" value=<%- server_sett.vacancy.days%> type="number">
    <label>Кол-во резюме</label>
    <input name="ss_resume_count" value=<%- server_sett.resume.count%> type="number">
    <label>Жизнь резюме</label>
    <input name="ss_resume_days" value=<%- server_sett.resume.days%> type="number">
    <button id="submit" type="submit" data-loadint-text="Отпр.">Update</button>
</form>
