<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="/dist/main.min.css">
</head>
<body>
<main class="page__wrapper">
    <div class="page__wrapper-content">
        <% include ../partials/navbar.ejs %>
        <%- body %>
    </div>

   <!-- <% include ../partials/footer.ejs %> -->
</main>
</body>
</html>
