<% layout('../../layout/list_items.ejs') %>
<link rel="stylesheet" href="/dist/resumeList.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<div class="ContainerContent">
    <div class="Filter">
        <div class="Filter-Title">Список Резюме</div>
        <div class="Filter-Second">
            <div><button>Города</button><a>Применить</a></div>
        </div>
        <div class="Filter-Scroll">
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
        </div>
        <div class="Filter-Second">
            <div><button>Категории</button><a>Применить</a></div>
        </div>
        <div class="Filter-Scroll">
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
            <div>
                <p>City</p>
                <input type="checkbox">
            </div>
        </div>
        <div class="Filter-ContainerButtons">
            <img/>
            <button>Применить все</button>
            <button>Вернуться на прошлую страницу</button>
        </div>
    </div>
    <!-- Стили применять во Vue -->
    <div class="ListResume">
        <div id="containerListPages"></div>
        <div id="containerResumes"></div>
    </div>
</div>
<script src="/dist/allResumes.min.js"></script>
