.main__footer {
  $margin__page: 50px;
  $text-color:#858585;
  $text-size: calc(4px +  0.8vw);


  width: 100%;
  color: gray;
  height: 64px;


  > a {
    line-height: 64px;
    color: $text-color;
    letter-spacing: 0.01px;
    text-align: left;
    font-size:$text-size;
  }
  > a:first-child {
    margin-left: $margin__page;
  }
  > a:last-child {
    margin-right: $margin__page;
  }
}

@media only screen and (min-device-width: 768px) {
  .main__footer  > a {
    margin-right: 20px;
  }
}