.main__navbar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  height: 92px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.01);

  > .main__navbar-brand {
    font-size: 16px;
    line-height: 92px;
    > img {
      vertical-align: middle;
      width: 108px;
      height: 27px;
    }
  }
  > div {
    > nav {
      margin-left: 52px;
      float: left;
      > li {
        list-style-type: none;
        > .item {

          display: block;
          flex-shrink: 0;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;
          color: gray;
        }
        > .item.-link {
          border-bottom: 5px solid transparent;
        }
      }
    }
  }
  .item.-link.-active,
  .item.-link:hover,
  .item.-link:focus {
    color: #000000;
  }
}

@media only screen and (max-device-width: 1049px) {
  .main__navbar {
    > .main__navbar-brand {
      margin-left: 20px;
      > img {
        height: 40px;
      }
    }
    > .main__navbar-container {
      margin-left: auto;
      line-height: 92px;
      margin-right: 20px;
      > .main__navbar-list {
        position: absolute;
        right: 20px;
        top: 60px;
        display: none;
        z-index: 1;
        > li {
          height: 30px;
          line-height: 30px;
          text-align: right;
        }
      }
      > .main__navbar-right {
        margin-left: 0;
        > li {
          float: left;
          margin-right: 20px;
          > a {
            font-size: 14px;
          }
        }
      }
      > .main__navbar-toggle {
        float: right;
        width: 16px;
        height: 13px;
        margin-top: 38px;
        background: url('/images/icon_list_m@2x.png') center center/cover no-repeat;
      }
    }
    .main__navbar-container:hover .main__navbar-list {
      display: block;
    }
  }
}

@media only screen and (min-device-width: 1050px) {
  .main__navbar {
    > .main__navbar-brand {
      margin-left: 40px;
      > img {
        height: 27px;
      }
    }
    > div {
      width: calc(100% - 200px);
      > .main__navbar-toggle {
        display: none;
      }
      > nav {
        > li {
          line-height: 92px;
          float: left;
          > .item {
            margin-right: 26px;
          }
        }
      }
      .main__navbar-list > li > .item.-link.-active,
      .main__navbar-list > li > .item.-link:hover,
      .main__navbar-list > li > .item.-link:focus {
        color: #000000;
        border-bottom-color: #b7001b;
      }
      .main__navbar-right {
        float: right;
      }
    }
  }
}